* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

header {
    margin: 0;
    padding: 0 150px;
}

.header-logo-text {
    padding: 0;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    font-weight: lighter;
}

.hero {
    display: flex;
    padding: 75px 0;
    gap: 24px;
}

.hero-content {
    flex: 1;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109,116,125);
    color: #fff;
    flex: 1;
}

.sign-up {
    margin: 5px 0;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 0;
    padding: 5px 20px;
    border-radius: 5px;
}

header,
footer {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

footer {
    font-weight: lighter;
    text-align: center;
    padding: 20px;
}

/* main */

.content-container {
    padding: 50px 150px;
}

.content-container .item-container {
    display: flex;
    padding: 36px 64px;
    gap: 36px;
}

/* TODO: make image/illustration square */
.item-image {
    border: 2px solid #3882f6;
    min-width: auto;
    min-height: 100px;
    border-radius: 12px;
}



.quote-container {
    padding: 75px 150px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    padding: 5px 30px;
}

.call-to-action {
    display: flex;
    /* justify-content: center; */
    margin: 64px 150px;
    padding: 32px 64px;
    border-radius: 5px;
    background-color: #3882f6;
}

.call-to-action .sign-up {
    border: 1px solid #fff;
    margin: auto;
}

.call-to-action-title {
    font-weight: bold;
    color: #F9FAF8;
}

.call-to-action-subtext {
    font-weight: lighter;
    color: #e5e7eb;
    font-size: 14px;
}